.multiple {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.multiple .question {
    max-width: 80%;
    word-wrap: anywhere;
    text-align: center;
    font-size: large;
    margin-bottom: 1em;
}

.multiple .describe {
    font-size: small;
}